<nav mat-tab-nav-bar [backgroundColor]="'primary'">
  <div *ngFor="let link of navLinks" [title]="link.title">
    <a mat-tab-link [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      {{link.label}}
    </a>
  </div>

  <div class="model-dropdown-wrap">
    <mat-label>Моделі:</mat-label>
    <mat-select *ngIf="vectorModels?.length" [value]="vectorModels[0].index" (selectionChange)="onModelSelectionChange($event)" title="Оберіть дистрибутивно-семантичну модель представлення сутностей">
      <mat-option *ngFor="let option of vectorModels" [value]="option.index">{{option.name}}</mat-option>
    </mat-select>
  </div>
</nav>

<div class="scroll-container">
  <router-outlet></router-outlet>
  <div *ngIf="selectedTabIndex !== navLinks[3].index" class="shelf">
    <div *ngFor="let item of bookArr"></div>
  </div>
</div>

