<nav mat-tab-nav-bar [backgroundColor]="'primary'">
  <div *ngFor="let link of navLinks" [title]="link.title">
    <a mat-tab-link [routerLink]="link.path" [queryParams]="{ model: activeModelIndex}" [active]="isLinkActive(link.path)">
      {{link.label}}
    </a>
  </div>

  <div class="model-dropdown-wrap">
    <mat-label i18n>Моделі:</mat-label>
    <mat-select *ngIf="vectorModels?.length" [value]="activeModelIndex" (selectionChange)="onModelSelectionChange($event)" title="Оберіть дистрибутивно-семантичну модель представлення сутностей">
      <mat-option *ngFor="let option of vectorModels" [title]="option.name" [value]="option.index">{{option.name}}</mat-option>
    </mat-select>
  </div>
</nav>

<div class="scroll-container">
  <router-outlet></router-outlet>
  <div class="shelf">
    <div *ngFor="let item of bookArr"></div>
  </div>
</div>

