<ng-container *ngIf="activeTab === 0">
  <div class="container">
    <h1 i18n>Обчислення семантичних асоціатів для однослівних сутностей</h1>
    <p i18n>Сервіс обчислює семантичні асоціати слова українською мовою в рамках обраної моделі.</p>
    <p *ngIf="model?.description?.length">{{model.description}}</p>
    <!-- <p>Використовується нейронна векторна модель представлення слів (алгоритм word2vec word embeddings) розмірністю 500d.</p> -->

    <div class="container container_middle">
      <form class="main-form">
        <mat-form-field appearance="outline">
          <mat-label i18n>Введіть лему слова</mat-label>
          <input type="text" [(ngModel)]="terms" [ngModelOptions]="{standalone: true}" matInput [placeholder]="model?.placeholders?.term ? model.placeholders.term : 'гончар'">
        </mat-form-field>
        <button mat-flat-button [disabled]="!terms" color="primary" (click)="getProcess()" i18n>Обчислити</button>
      </form>

      <ng-container *ngIf="data">
        <mat-form-field class="filter-data">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Введіть термін для пошуку">
        </mat-form-field>

        <h3 i18n>Семантичні асоціати</h3>

        <div class="grid-wrapper">
          <table mat-table matSort [dataSource]="data">

            <!-- Term Column -->
            <ng-container [matColumnDef]="displayedColumns[0]">
              <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Сутність</th>
              <td mat-cell *matCellDef="let element"> {{element.term}} </td>
            </ng-container>

            <!-- Vector Column -->
            <ng-container [matColumnDef]="displayedColumns[1]">
              <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Косинусна близькість</th>
              <td mat-cell *matCellDef="let element"> {{element.vector}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr> -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="activeTab === 1">
  <div class="container">
    <h1 i18n>Обчислення центру лексичного кластера однослівних сутностей</h1>
    <p i18n>Сервіс обчислює центр лексичного кластера слів українською мовою в рамках обраної моделі.</p>
    <p *ngIf="model?.description?.length">{{model.description}}</p>
    <!-- <p>Використовується нейронна векторна модель представлення слів (алгоритм word2vec word embeddings) розмірністю 500d.</p> -->

    <div class="container container_middle">
      <form class="main-form">
        <mat-form-field appearance="outline">
          <mat-label i18n>Введіть леми слів через пробіл</mat-label>
          <input type="text" [(ngModel)]="terms" [ngModelOptions]="{standalone: true}" matInput [placeholder]="model?.placeholders?.terms ? model.placeholders.terms : 'гончар письменник герой'">
        </mat-form-field>
        <button mat-flat-button [disabled]="!terms" color="primary" (click)="getProcess()" i18n>Обчислити</button>
      </form>

      <ng-container *ngIf="data">
        <mat-form-field class="filter-data">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Введіть термін для пошуку">
        </mat-form-field>

        <h3 i18n>Центр лексичного кластера</h3>

        <div class="grid-wrapper">
          <table mat-table matSort [dataSource]="data">

            <!-- Term Column -->
            <ng-container matColumnDef="term">
              <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Сутність</th>
              <td mat-cell *matCellDef="let element"> {{element.term}} </td>
            </ng-container>

            <!-- Vector Column -->
            <ng-container matColumnDef="vector">
              <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Косинусна близькість</th>
              <td mat-cell *matCellDef="let element"> {{element.vector}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>