/* You can add global styles to this file, and also import other style files */

app-root
  display: flex
  flex-direction: column
  height: inherit

.container
  margin: 0 auto
  display: flex
  flex-direction: column
  width: 1240px
  height: inherit
  overflow: hidden

  &_middle
      width: 920px
