<!-- <h1>Семантична карта (з використанням сервісу TensorFlow Projector)</h1> -->
<!-- <p>Сервіс обчислює семантичні відношення в рамках обраної моделі.</p> -->
<ng-container *ngIf="model?.index === 0">
    <iframe class="embed-responsive-item" src="https://projector.tensorflow.org/?config=https://gist.githubusercontent.com/malakhovks/e45b2890a21189f87cea3d7ea75bb088/raw/a00ebf13d4c8f0095aec237ae37617fef6bd2266/honchar-tensorboard-config.json" height="100%" width="100%" allowfullscreen></iframe>
</ng-container>

<ng-container *ngIf="model?.index === 1">
    <iframe class="embed-responsive-item" src="https://projector.tensorflow.org/?config=https://gist.githubusercontent.com/malakhovks/e45b2890a21189f87cea3d7ea75bb088/raw/a00ebf13d4c8f0095aec237ae37617fef6bd2266/honchar-tensorboard-config.json" height="100%" width="100%" allowfullscreen></iframe>
</ng-container>