<ng-container *ngIf="model?.index === 0">
    <iframe class="embed-responsive-item" src="https://projector.tensorflow.org/?config=https://gist.githubusercontent.com/malakhovks/e45b2890a21189f87cea3d7ea75bb088/raw/a00ebf13d4c8f0095aec237ae37617fef6bd2266/honchar-tensorboard-config.json" height="100%" width="100%" allowfullscreen></iframe>
</ng-container>

<ng-container *ngIf="model?.index === 1">
    <iframe class="embed-responsive-item" src="https://projector.tensorflow.org/?config=https://gist.githubusercontent.com/malakhovks/e45b2890a21189f87cea3d7ea75bb088/raw/a00ebf13d4c8f0095aec237ae37617fef6bd2266/honchar-tensorboard-config.json" height="100%" width="100%" allowfullscreen></iframe>
</ng-container>

<ng-container *ngIf="model?.index === 2">
    <iframe class="embed-responsive-item" src="https://projector.tensorflow.org/?config=https://gist.githubusercontent.com/malakhovks/10e06a95970819a1f3297d5f2febfb18/raw/971dc56bef69ee5a31431dfe1daeede08c0f8640/suhomlinskyy-serdtse-small-tensorboard-config.json" height="100%" width="100%" allowfullscreen></iframe>
</ng-container>

<ng-container *ngIf="model?.index === 3">
    <iframe class="embed-responsive-item" src="https://projector.tensorflow.org/?config=https://gist.githubusercontent.com/malakhovks/09fa50261d641d9c4142f4e65f70fb2d/raw/ee38778023d87e2180262717181809681f23e77e/whitebook-small-tensorboard-config.json" height="100%" width="100%" allowfullscreen></iframe>
</ng-container>