<div class="container">
    <div class="section-title">Корисні посилання</div>
    <mat-list>

        <mat-list-item>
            <a class="source" href="https://www.tensorflow.org/tutorials/word2vec" target="_blank">
                <div class="source__img">
                    <img src="./assets/sources-logos/tensorflow.svg" alt="Tensorflow">
                </div>
                <span class="source__title">Tensorflow</span>
                <span class="source__info">Туторіал з tensorflow.org на тему "Векторне представлення слів/Навчання вкладень слів"</span>
            </a>
        </mat-list-item>

        <mat-list-item>
            <a class="source" href="https://fasttext.cc/" target="_blank">
                <div class="source__img">
                    <img src="./assets/sources-logos/fasttext.png" alt="Fasttext">
                </div>
                <span class="source__title">Fasttext</span>
                <span class="source__info">Програмна бібліотека з відкритим початковим кодом для навчання вкладень слів та класифікування тексту</span>
            </a>
        </mat-list-item>

        <mat-list-item>
            <a class="source" href="http://radimrehurek.com/gensim/" target="_blank">
                <div class="source__img">
                    <img src="./assets/sources-logos/gensim.png" alt="Gensim">
                </div>
                <span class="source__title">Gensim</span>
                <span class="source__info">Програмна бібліотека з відкритим початковим кодом для комплексного моделювання мовного векторного простору</span>
            </a>
        </mat-list-item>

    </mat-list>
</div>