<div class="container">
    <div class="section-title" i18n>Корисні посилання</div>
    <mat-list>

        <mat-list-item>
            <a class="source" href="https://www.tensorflow.org/tutorials/word2vec" target="_blank">
                <div class="source__img">
                    <img src="./assets/sources-logos/tensorflow.svg" alt="Tensorflow">
                </div>
                <span class="source__title">Tensorflow</span>
                <span class="source__info" i18n>Туторіал з tensorflow.org на тему "Векторне представлення слів/Навчання вкладень слів"</span>
            </a>
        </mat-list-item>

        <mat-list-item>
            <a class="source" href="https://fasttext.cc/" target="_blank">
                <div class="source__img">
                    <img src="./assets/sources-logos/fasttext.png" alt="Fasttext">
                </div>
                <span class="source__title">Fasttext</span>
                <span class="source__info" i18n>Програмна бібліотека з відкритим початковим кодом для навчання вкладень слів та класифікування тексту</span>
            </a>
        </mat-list-item>

        <mat-list-item>
            <a class="source" href="http://radimrehurek.com/gensim/" target="_blank">
                <div class="source__img">
                    <img src="./assets/sources-logos/gensim.png" alt="Gensim">
                </div>
                <span class="source__title">Gensim</span>
                <span class="source__info" i18n>Програмна бібліотека з відкритим початковим кодом для комплексного моделювання мовного векторного простору</span>
            </a>
        </mat-list-item>

    </mat-list>

    <mat-list>

        <mat-list-item>
            <a class="source" href="http://vectors.nlpl.eu/" target="_blank">
                <div class="source__img">
                    <img src="./assets/sources-logos/nlpl.png" alt="nlpl">
                </div>
                <span class="source__title">Nordic Language Processing Laboratory</span>
                <span class="source__info">The Nordic Language Processing Laboratory is a collaboration of university research groups in NLP in Northern Europe</span>
            </a>
        </mat-list-item>

        <mat-list-item>
            <a class="source" href="https://lang.org.ua/uk/" target="_blank">
                <div class="source__img">
                    <img src="./assets/sources-logos/languk.svg" alt="languk">
                </div>
                <span class="source__title">lang-uk</span>
                <span class="source__info" i18n>Відкрита для приєднання спільнота фахівців в галузі комп'ютерної обробки текстів</span>
            </a>
        </mat-list-item>

        <mat-list-item>
            <a class="source" href="https://doi.org/10.15407/pp2020.02-03.341" target="_blank">
                <div class="source__img">
                    <img src="./assets/sources-logos/pp.png" alt="pp">
                </div>
                <span class="source__title" i18n>Проблеми програмування</span>
                <span class="source__info">Distributional semantic modeling: a revised technique to train term/word vector space models applying the ontology-related approach</span>
            </a>
        </mat-list-item>

    </mat-list>
</div>