.mat-toolbar-single-row
    height: auto
    padding: 2px 0  
    justify-content: center

    a
        color: #fff
        font-size: 14px
        text-decoration: none
        transition: opacity .4s cubic-bezier(0.65, 0, 0.35, 1)
        &:hover
            opacity: .5

    .gthb
        display: flex
        align-items: center
        font-size: 14px
        line-height: 24px
        margin-left: 40px
        font-weight: normal
        svg
            fill: #fff
            margin-right: 8px
            & + span
                margin-top: 2px    