# nltk>=3.5
# spacy==2.3.2
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz#egg=en_core_web_sm
# pdfminer.six==20201018
# json_tricks==3.15.3
# chardet==3.0.4
gensim==3.8.3
Flask==1.1.2
flask-cors==3.0.9
# ------------------------------------------------------------------
uWSGI==2.0.19.1