<div class="container">
  <h1>Про проєкт UkrVectōrēs</h1>

  <!-- <h1>Створено в рамках ___________________________________________</h1> -->
  <p>Сервіс UkrVectōrēs обчислює семантичні відношення між сутностями української мови в рамках обраної дистрибутино-семантичної моделі векторного представлення сутностей.</p>
  <!-- <p>В дистрибутивній семантиці слова зазвичай представляються у вигляді векторів в багатовимірному просторі їх контекстів. Семантична схожість обчислюється як косинусна близькість між векторами двох слів і може приймати значення в проміжку [-1 ... 1] (на практиці часто використовуються тільки значення вище 0). Значення 0 приблизно означає, що у цих слів немає схожих контекстів і їх значення не пов'язані один з одним. Значення 1, навпаки, свідчить про повну ідентичність їх контекстів і, отже, про близькість значення.</p> -->
  <h2>Корисні посилання:</h2>
  <mat-list>
    <mat-list-item><a href="http://radimrehurek.com/gensim/" class="href-for-resourses" target="_blank">Gensim</a> — програмна бібліотека з відкритим початковим кодом для комплексного моделювання мовного векторного простору.</mat-list-item>
    <!-- (навчання вкладень слів, класифікування тексту, латентно-семантичний аналіз та ін.) -->
    <mat-divider></mat-divider>
    <mat-list-item><a href="https://www.tensorflow.org/tutorials/word2vec" class="href-for-resourses" target="_blank">Туторіал з tensorflow.org</a> — на тему "Векторне представлення слів / Навчання вкладень слів". </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a href="https://fasttext.cc/" class="href-for-resourses" target="_blank">fastText</a> — програмна бібліотека з відкритим початковим кодом для навчання вкладень слів та класифікування тексту.</mat-list-item>
  </mat-list>
  <h2>Колектив розробників:</h2>
  <mat-list>
    <mat-list-item>Величко Віталій Юрійович</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Малахов Кирило Сергійович</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Щуров Олександр Сергійович</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
