<div class="container">
    <div class="section-title" i18n>Колектив розробників</div>
    <mat-list>

        <mat-list-item>
            <div class="person">
                <img class="person__img" src="./assets/img/velichko.jpg" alt="Величко Віталій Юрійович">
                <span class="person__title" i18n>Величко Віталій Юрійович</span>
                <span class="person__descr" i18n>Доцент, к.т.н., с.н.с.</span>
                <span class="person__info" i18n>Інститут кібернетики ім. В.М. Глушкова НАН України. Відділ мікропроцесорної техніки № 205</span>
                <div class="person__links">
                    <ng-container *ngTemplateOutlet="iconsTemplate; context: { gitLink: 'https://github.com/Velychko-Vitalii', mail: 'mailto:aduisukr@gmail.com'}"></ng-container>
                </div>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div class="person">
                <img class="person__img" src="./assets/img/malakhov.jpg" alt="Малахов Кирило Сергійович">
                <span class="person__title" i18n>Малахов Кирило Сергійович</span>
                <span class="person__descr" i18n>Науковий співробітник</span>
                <span class="person__info" i18n>Інститут кібернетики ім. В.М. Глушкова НАН України. Відділ мікропроцесорної техніки № 205</span>
                <div class="person__links">
                    <ng-container *ngTemplateOutlet="iconsTemplate; context: { gitLink: 'https://malakhovks.github.io/', mail: 'mailto:malakhovks@nas.gov.ua'}"></ng-container>
                </div>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div class="person">
                <img class="person__img" src="./assets/img/shchurov.jpg" alt="Щуров Олександр Сергійович">
                <span class="person__title" i18n>Щуров Олександр Сергійович</span>
                <span class="person__descr" i18n>Молодший науковий співробітник</span>
                <span class="person__info" i18n>Інститут кібернетики ім. В.М. Глушкова НАН України. Відділ мікропроцесорної техніки № 205</span>
                <div class="person__links">
                    <ng-container *ngTemplateOutlet="iconsTemplate; context: { gitLink: 'https://github.com/alexlug', mail: 'mailto:alexandershchurov@gmail.com'}"></ng-container>
                </div>
            </div>
        </mat-list-item>

    </mat-list>
</div>

<ng-template #iconsTemplate let-gitLink="gitLink" let-mail="mail">
    <a [href]=gitLink target="_blank" title="Github профіль">
        <svg height="24" width="24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
    </a>
    <a [href]=mail target="_blank" title="Електронна пошта">
        <svg height="24" width="24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M 2.5 2 C 2.115 2 1.7679531 2.1496719 1.5019531 2.3886719 L 8 6.8925781 L 14.494141 2.3867188 C 14.229141 2.1497187 13.883 2 13.5 2 L 2.5 2 z M 14.976562 3.2695312 L 8 8.1074219 L 1.0234375 3.2753906 C 1.0114375 3.3493906 1 3.423 1 3.5 L 1 11.5 C 1 12.327 1.673 13 2.5 13 L 13.5 13 C 14.327 13 15 12.327 15 11.5 L 15 3.5 C 15 3.421 14.987562 3.3455313 14.976562 3.2695312 z"/>
        </svg>
    </a>
</ng-template>

