<div class="container">
    <div class="section-title">Колектив розробників</div>
    <mat-list>

        <mat-list-item>
            <div class="person">
                <img class="person__img" src="./assets/img/velichko.jpg" alt="Величко Віталій Юрійович">
                <span class="person__title">Величко Віталій Юрійович</span>
                <span class="person__descr">Доцент, к.т.н.</span>
                <span class="person__info">Шрек — огромный зелёный огр (великан-людоед из западноевропейских сказок), который живёт в одиночестве на болоте в окрестностях города-государства Дюлок, населённого людьми, животными, куклами и др. из разных европейских сказок и легенд (напр. Красная Шапочка, Пиноккио, три слепых мышки из английского детского фольклорного стихотворения). Людей он, по доброте душевной и вопреки бытующим убеждениям, не ест, поэтому изредка наведывающиеся на болото компании «охотников за ограми» он пугает, и его самолюбие греет их ужас.</span>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div class="person">
                <img class="person__img" src="./assets/img/malakhov.jpg" alt="Величко Віталій Юрійович">
                <span class="person__title">Малахов Кирило Сергійович</span>
                <span class="person__descr">науковий співробітник</span>
                <span class="person__info">Шрек — огромный зелёный огр (великан-людоед из западноевропейских сказок), который живёт в одиночестве на болоте в окрестностях города-государства Дюлок, населённого людьми, животными, куклами и др. из разных европейских сказок и легенд (напр. Красная Шапочка, Пиноккио, три слепых мышки из английского детского фольклорного стихотворения). Людей он, по доброте душевной и вопреки бытующим убеждениям, не ест, поэтому изредка наведывающиеся на болото компании «охотников за ограми» он пугает, и его самолюбие греет их ужас.</span>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div class="person">
                <img class="person__img" src="./assets/img/shchurov.jpg" alt="Величко Віталій Юрійович">
                <span class="person__title">Щуров Олександр Сергійович</span>
                <span class="person__descr">молодший науковий співробітник</span>
                <span class="person__info">Шрек — огромный зелёный огр (великан-людоед из западноевропейских сказок), который живёт в одиночестве на болоте в окрестностях города-государства Дюлок, населённого людьми, животными, куклами и др. из разных европейских сказок и легенд (напр. Красная Шапочка, Пиноккио, три слепых мышки из английского детского фольклорного стихотворения). Людей он, по доброте душевной и вопреки бытующим убеждениям, не ест, поэтому изредка наведывающиеся на болото компании «охотников за ограми» он пугает, и его самолюбие греет их ужас.</span>
            </div>
        </mat-list-item>

    </mat-list>
</div>