<div class="container">
    <div class="section-title">Колектив розробників</div>
    <mat-list>

        <mat-list-item>
            <div class="person">
                <img class="person__img" src="./assets/img/velichko.jpg" alt="Величко Віталій Юрійович">
                <span class="person__title">Величко Віталій Юрійович</span>
                <span class="person__descr">Доцент, к.т.н., с.н.с.</span>
                <span class="person__info">Інститут кібернетики ім. В.М. Глушкова НАН України. Відділ мікропроцесорної техніки № 205</span>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div class="person">
                <img class="person__img" src="./assets/img/malakhov.jpg" alt="Малахов Кирило Сергійович">
                <span class="person__title">Малахов Кирило Сергійович</span>
                <span class="person__descr">Науковий співробітник</span>
                <span class="person__info">Інститут кібернетики ім. В.М. Глушкова НАН України. Відділ мікропроцесорної техніки № 205</span>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div class="person">
                <img class="person__img" src="./assets/img/shchurov.jpg" alt="Щуров Олександр Сергійович">
                <span class="person__title">Щуров Олександр Сергійович</span>
                <span class="person__descr">Молодший науковий співробітник</span>
                <span class="person__info">Інститут кібернетики ім. В.М. Глушкова НАН України. Відділ мікропроцесорної техніки № 205</span>
            </div>
        </mat-list-item>

    </mat-list>
</div>